@use "./typography" as *;

$black: #111;
$dark-grey: #313131;
$light-grey: #BBB;
$white: #FFF;
$navy: #05305c;
$light-blue: #bfdee7;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../assets/images/arctic-bear-background.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Playfair Display";
}

.header {
    width: 80%;
    margin: 0 auto;
    
    &__first-container {
        background-color: $light-blue;
        height: 50vh;
        margin-top: 5rem;
        padding-top: 6rem;
        text-decoration: none;
        box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
        animation: fadeIn 2.5s;
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
        
    }

    &__info {
        color: $navy;
        font-size: 2rem;
        text-align: center;
        // text-decoration: none;
    }

    &__info-subtext {
        color: $dark-grey;
        font-size: 1rem;
        text-align: center;
    }

    &__second-container {
        margin: 8rem 0 1.5rem 0;
        background: $navy;
        padding: 1.5rem 2rem;
    }

    &__heading {
        color: $light-blue;
        margin-block: 0;
    }

    &__title,
    &__update {
        font-family: "Poppins";
        font-style: italic;
        font-weight: light;
        color: $light-grey;
        font-size: 0.75rem;
        display: inline-block;
    }

    &__description {
        color: $light-blue;
        font-weight: light;
        font-style: italic;
        font-family: "Poppins";
    }
}

.advice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 85%;

    // &__card {
        // background-color: $light-blue;
        // border: 1px solid $black;
        // width: 20%;
        // height: 15vw;
        // margin: 1rem;
        // padding: 0 2%;
    // }

    &__card {
        background-color: transparent;
        width: 28%;
        height: 15vw;
        // border: 1px solid $black;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        margin: 1rem;
    }

    &__card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    &__card:hover &__card-inner {
        transform: rotateY(180deg);
    }
        
    &__card-front,
    &__card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    &__card-front {
        background-color: $light-blue;
        color: black;   
    }

    &__card-back {
        background-color: $navy;
        color: $light-blue;
        transform: rotateY(180deg);
    }

    &__card-back-title {
        font-style: italic;
        font-weight: bold;
        font-size: 1rem;
        color: $light-grey;
    }

}
